//Colors

$darkgreen: #99E160;
$lightblack: #222222;
$gray: #A8A8A8;
$darkgray: #7B7B7B;
$yellow: #F6F176;
$lightgreen: #ACEA7C;
$white: #FFFFFF;
$black: #000000;
$bg-gray: rgba(0, 0, 0, 0.04);
$dark: #1C1C1C;
$menu-text: #9A9595;
$bottom-footer: #2C2C2C;


